In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LinearRegression

In [2]:
df=pd.read_csv(r'D:\COURSES\AI\Epsilon Ai\Session 30\Ecommerce_Customers.csv')
df

,Email,Address,Avatar,Avg. Session Length,Time on App,Time on Website,Length of Membership,Yearly Amount Spent
0,mstephenson@fernandez.com,"835 Frank Tunnel\nWrightmouth, MI 82180-9605",Violet,34.497268,12.655651,39.577668,4.082621,587.951054
1,hduke@hotmail.com,"4547 Archer Common\nDiazchester, CA 06566-8576",DarkGreen,31.926272,11.109461,37.268959,2.664034,392.204933
2,pallen@yahoo.com,"24645 Valerie Unions Suite 582\nCobbborough, D...",Bisque,33.000915,11.330278,37.110597,4.104543,487.547505
3,riverarebecca@gmail.com,"1414 David Throughway\nPort Jason, OH 22070-1220",SaddleBrown,34.305557,13.717514,36.721283,3.120179,581.852344
4,mstephens@davidson-herman.com,"14023 Rodriguez Passage\nPort Jacobville, PR 3...",MediumAquaMarine,33.330673,12.795189,37.536653,4.446308,599.406092
...,...,...,...,...,...,...,...,...
495,lewisjessica@craig-evans.com,"4483 Jones Motorway Suite 872\nLake Jamiefurt,...",Tan,33.237660,13.566160,36.417985,3.746573,573.847438
496,katrina56@gmail.com,"172 Owen Divide Suite 497\nWest Richard, CA 19320",PaleVioletRed,34.702529,11.695736,37.190268,3.576526,529.049004
497,dale88@hotmail.com,"0787 Andrews Ranch Apt. 633\nSouth Chadburgh, ...",Cornsilk,32.646777,11.499409,38.332576,4.958264,551.620145
498,cwilson@hotmail.com,"680 Jennifer Lodge Apt. 808\nBrendachester, TX...",Teal,33.322501,12.391423,36.840086,2.336485,456.469510
499,hannahwilson@davidson.com,49791 Rachel Heights Apt. 898\nEast Drewboroug...,DarkMagenta,33.715981,12.418808,35.771016,2.735160,497.778642

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 8 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Email                 500 non-null    object
 1   Address               500 non-null    object
 2   Avatar                500 non-null    object
 3   Avg. Session Length   500 non-null    float64
 4   Time on App           500 non-null    float64
 5   Time on Website       500 non-null    float64
 6   Length of Membership  500 non-null    float64
 7   Yearly Amount Spent   500 non-null    float64
dtypes: float64(5), object(3)
memory usage: 31.4+ KB

In [4]:
df.columns=df.columns.str.lower()
df.columns

Index(['email', 'address', 'avatar', 'avg. session length', 'time on app',
       'time on website', 'length of membership', 'yearly amount spent'],
      dtype='object')

In [5]:
df.drop(['email', 'address', 'avatar'],axis=1,inplace=True)
df.isnull().sum()

avg. session length     0
time on app             0
time on website         0
length of membership    0
yearly amount spent     0
dtype: int64

In [6]:
df.corr()

,avg. session length,time on app,time on website,length of membership,yearly amount spent
avg. session length,1.000000,-0.027826,-0.034987,0.060247,0.355088
time on app,-0.027826,1.000000,0.082388,0.029143,0.499328
time on website,-0.034987,0.082388,1.000000,-0.047582,-0.002641
length of membership,0.060247,0.029143,-0.047582,1.000000,0.809084
yearly amount spent,0.355088,0.499328,-0.002641,0.809084,1.000000

In [7]:
df.columns

Index(['avg. session length', 'time on app', 'time on website',
       'length of membership', 'yearly amount spent'],
      dtype='object')

In [8]:
x=df.drop('yearly amount spent',axis=1)
y=df[ 'yearly amount spent']

In [9]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2)

In [10]:
scaler=StandardScaler()
x_train_scaled=scaler.fit_transform(x_train)
x_test_scaled=scaler.transform(x_test)

In [11]:
model=LinearRegression()

In [12]:
model.fit(x_train_scaled,y_train)

LinearRegression()

In [13]:
model.score(x_train_scaled,y_train)

0.9849416817867387

In [14]:
model.score(x_test_scaled,y_test)

0.9811320220446524

In [15]:
model.intercept_

500.9573681953

In [16]:
model.coef_

array([25.1182845 , 40.09697611,  0.28931072, 62.34333707])

In [17]:
x_test

     avg. session length  time on app  time on website  length of membership
159            34.568681    11.378087        38.304471              3.784932
452            33.552108    11.120871        36.808376              4.027814
367            32.990599    10.441235        35.938963              2.895075
9              31.936549    11.814128        37.145168              3.202806
492            33.680937    11.201570        37.835448              2.208814
..                   ...          ...              ...                   ...
303            30.816201    11.851399        36.925043              1.084585
48             33.117219    11.864126        36.582728              3.202531
238            31.260647    13.266760        36.971195              2.267251
357            34.002071    11.854682        37.491892              2.761862
7              32.739143    12.351959        37.373359              4.434273

[100 rows x 4 columns]

In [18]:

data=[30,14,32,4.5]
data_scaled=scaler.transform([data])

model.predict(data_scaled)[0]

c:\Users\Hamed\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\base.py:439: UserWarning: X does not have valid feature names, but StandardScaler was fitted with feature names
  warnings.warn(

556.2792883198358

In [19]:
import joblib

In [20]:
joblib.dump(scaler,'scaler.h5')
joblib.dump(model,'model.h5')

['model.h5']

In [21]:
model1=joblib.load('model.h5')
scaler1=joblib.load('scaler.h5')

In [22]:
data=[30,14,32,4.5]
data_scaled=scaler1.transform([data])

model1.predict(data_scaled)[0]

c:\Users\Hamed\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\base.py:439: UserWarning: X does not have valid feature names, but StandardScaler was fitted with feature names
  warnings.warn(

556.2792883198358